html {
  box-sizing: border-box;
}

.header {
  max-width: 100%;
  padding: 5px;
  background: black;
  color: white;
  text-align: center;
  margin: 0;
}

.starship-list {
  margin: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 25% 25% 25% 25%;
}

.starships-container {
  width: 150px;
  height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: darkslategray;
  color: white;
  text-decoration-style: none;
  margin: 10px 10px;
  padding: 15px;
  text-decoration: none;
  border: 5px solid darkslategray;
  border-radius: 10px;
}

.starship-container {
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  background-color: darkslategray;
  color: white;
  text-decoration-style: none;
  margin: 200px auto;
  padding: 15px;
  text-decoration: none;
  border: 5px solid darkslategray;
  border-radius: 10px;
}

.starship-container p a {
  text-decoration: underline;
  justify-content: left;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0;
  max-width: 190px;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}